<template>
    <div>
        <h3>Bottom Ten {{subject | capitalize }}</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :item="item" :index="$index">
            <span> {{ $index + 1 }} </span> {{item.name}}
        </li>
    </ul>
</template>
<style>

</style>
<script>
    export default {
        props: ['subject', 'list', 'total']
    }
</script>
