<template>
    <div class="jumbotron">
        <h2>Welcome to ERB Voting</h2>
        <p> This is an unofficial app, not supported in anyway by ERB. </p>
        <p class="lead center-text" > Here you will be able to submit and vote for the battles you want to see acted by Nice Peter and Epic LLoyd!  </p>
    </div>
    <div class="container-fluid">
        <top class="col-lg-4 text-center" subject="contestants"></top>
        <top class="col-lg-4 text-center" subject="teams"></top>
        <top class="col-lg-4 text-center" subject="battles"></top>
    </div>
</template>
<script>
    var Top = require("./top.vue")
    var Bottom = require("./bottom.vue")

    export default {
        components: {
            Top,
            Bottom
        }
    }
</script>
