<template>
    <div class="jumbotron">
        <a class="btn btn-primary btn-lg" href="/auth/google">
            <i class="fa fa-google"></i>
            Sign in with Google
        </a>
    </div>
</template>
<style>

</style>
<script>

</script>