<template>
    <div>
        <h3>Top Ten {{ subject | capitalize }} of {{ total }}</h3>
        <ul class="list-group">
            <li class="list-group-item" v-for="item in list" :item="item" :index="$index">
                <span> {{ $index + 1 }} </span> {{item.name}}<span v-show="item.nb_votes" class="glyphicon glyphicon-star" aria-hidden="true">({{item.nb_votes}})</span>
            </li>
        </ul>
    </div>
</template>
<style>

</style>

<script>
    export default {
        props: ['subject', 'list', 'total'],

        created: function() {
            this.fetchTop();
        },
        methods: {
            fetchTop: function() {
                this.$http.get('/api/top/' + this.subject).then(function(data) {
                    var received_data = data.data;
                    this.list = received_data.data;
                    this.total = received_data.total;
                }, function(error){console.log(error)});
            }
        }
    }
</script>