<template>
    <div class="text-center">
        <h3> Create a New Battle (Max 5 participants) </h3>
        <div class="container-fluid" >
            <div class="col-lg-8">
                <form class="form-horizontal" @submit="search">
                    <div class="form-group text-center">
                        <label for="inputParticipantSearch">Search</label>
                        <div>
                            <input type="text" @keyup="search" v-model="participantSearch" class="form-control" id="inputParticipantSearch" placeholder="Search for potential participants">
                        </div>
                    </div>
                </form>
                <div v-show="teams" class="row col-lg-6">
                    <h4> Teams ({{ team_total }}) </h4>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Members
                                </th>
                                <th>
                                    Add to Battle
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="team in teams">
                                <td>
                                  {{team.name}}
                                </td>
                                <td>
                                    {{team.members}}
                                </td>
                                <td>
                                    <button @click="addParticipant(team, 'Team')" class="btn btn-primary"> Add To Battle </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="contestants" class="row col-lg-6">
                    <h4> Contestants ({{ contestant_total }})</h4>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Add to Battle
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="contestant in contestants">
                            <td>
                                {{contestant.name}}
                            </td>
                            <td>
                                <button v-show="nb_participants < 5" @click="addParticipant(contestant, 'Contestant')" class="btn btn-primary"> Add To Battle </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center" v-show="contestant_total">
                        <nav>
                            <ul class="pager">
                                <li v-bind:class="{ 'disabled': contestant_page == 1}" v-on:click="search_contestants(contestant_page - 1)" class="btn"><a>Previous</a></li>
                                <li>
                                    <strong> {{ contestant_page }}  / {{ contestant_pages }}</strong>
                                </li>
                                <li v-bind:class="{ 'disabled': contestant_page == contestant_pages}" @click="search_contestants(contestant_page + 1)" class="btn"><a>Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center" >
                <table v-show="nb_participants > 0" class="table table-striped table-bordered">
                    <caption> Participants to the battle ({{nb_participants}}) </caption>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="participant in participants">
                            <td>
                                {{participant.name}}
                            </td>
                            <td>
                                {{participant.type}}
                            </td>
                            <td>
                                <button @click="deleteParticipant(participant)" class="btn btn-danger"> Remove From Battle </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button v-show="nb_participants > 0" class="btn btn-success" @click="exists"> Submit Battle </button>
                <h3 v-else> No participants for the new Battle </h3>
            </div>
        </div>
    </div>
</template>
<style>


</style>
<script>

    export default {
        props: [
            'participantSearch', 'participants', 'teams', 'contestants', 'team_total',
            'team_page', 'team_pages', 'contestant_total', 'contestant_page', 'contestant_pages'
        ],
        components: {

        },
        created: function() {
            this.participantSearch = '';
            this.page = 1;
            this.pages = 1;
            this.search_contestants(1);
            this.participants = new Array();
            //this.search_teams(1);
        },

        computed: {
              nb_participants: function(){
                  return this.participants.length
              }
        },
        methods:{
            search: function(){
                this.search_contestants(1);
                this.search_teams(1);
            },
            addParticipant: function(participant, type) {
                participant.type = type;
                var current_participant = participant;
				if(this.nb_participants >= 5)
				{
					alertify.error("The number of participants is limited to five!");
					return true;
				}
                if(this.nb_participants > 0)
                {
                    function isNotCurrentContestant(element, index, array) {
                        if(element.type == current_participant.type)
                        {
                            return current_participant.id != element.id;
                        }
                        else
                        {
                            return true;
                        }
                    }
                    if(this.participants.every(isNotCurrentContestant))
                    {
                        this.participants.push(current_participant);
                    }
                    else
                    {
                        alertify.notify("Participant already selected for battle");
                    }
                }
                else
                {
                    this.participants.push(participant);
                }
            },
            deleteParticipant: function(participant) {
                this.participants.$remove(participant);
            },
            search_teams: function(page) {
                this.$http.post('/api/search/teams', {term: this.participantSearch, page: page}).then(function(data) {
                    var received_data = data.data;
                    this.teams = received_data.data;
                    this.team_total = received_data.total;
                    this.team_page = page;
                    this.team_pages = received_data.pages
                }, function(error){
                    console.log(error)}
                );

            },
            search_contestants: function(page) {
                this.$http.post('/api/search/contestants', {term: this.participantSearch, page: page}).then(function(data) {
                    var received_data = data.data;
                    this.contestants = received_data.data;
                    this.contestant_total = received_data.total;
                    this.contestant_page = page;
                    this.contestant_pages = received_data.pages;
                }, function(error){
                    console.log(error)
                });
            },
            exists: function()
            {
              if(this.nb_participants < 2)
              {
                  alertify.error("You need at least 2 participants to create a Battle")
                  return
              }

              this.$http.post('/api/battles/exists', {api_token: window.apiToken, battle :{participants: this.participants}}).then(function(data) {
                  var received_data = data.data;
                  console.log(received_data)
                  if(received_data.exists  == true)
                  {
                    alertify.confirm(
                        "This Battle already exists: " + data.data.name + ". Round: " + data.data.round + "<br/> Do you want to create a new round?",
                        this.create_battle,
                        this.reset
                      );
                  }
                  else
                  {
                    this.create_battle();
                  }                                    
              }, function(error){
                  console.log(error)
                  if(error.data.msg)
                  {
                      alertify.error(error.data.msg)
                  }
                  else
                  {
                      alertify.error(error.data.errors)
                  }

              });
            },
            create_battle: function()
            {
                this.$http.post('/api/battles/create', {api_token: window.apiToken, battle :{participants: this.participants}}).then(function(data) {
                    console.log(data)
                    if(data.data.msg)
                    {
                        alertify.success(data.data.msg)
                        this.reset()
                    }
                }, function(error){
                    console.log(error)
                    if(error.data.msg)
                    {
                        alertify.error(error.data.msg)
                    }
                    else
                    {
                        alertify.error(error.data.errors)
                    }
                    this.reset()
                });
            },
            reset: function()
            {
              this.participantSearch = ""
              this.search()
              this.participants = new Array()
            }
        }
    }
</script>
