<template>
    <div>
        <header>
            <ol class="breadcrumb">
                <li v-link="{ path:  '/teams' , append: true}" class="btn">The List</li>
                <li v-link="{ path: '/teams/new', append: true }"  class="btn">Create a new  Team</li>
            </ol>
        </header>
        <div class="container-fluid">
            <router-view
                    keep-alive>
            </router-view>
        </div>
    </div>
</template>
<style>

</style>
