<template>
    <div class="text-center">
        <h3> Create a New Team (Max 5 members) </h3>
        <div class="container-fluid" >
            <div class="col-lg-8">
                <form class="form-horizontal" @submit="search">
                    <div class="form-group text-center">
                        <label for="inputMemberSearch">Search</label>
                        <div>
                            <input type="text" @keyup="search" v-model="memberSearch" class="form-control" id="inputMemberSearch" placeholder="Search for potential members">
                        </div>
                    </div>
                </form>
                <div v-show="contestants" class="row col-lg-6">
                    <h4> Contestants ({{ contestant_total }})</h4>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Add to Team
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="contestant in contestants">
                            <td>
                                {{contestant.name}}
                            </td>
                            <td>
                                <button v-show="nb_members < 5" @click="addMember(contestant, 'Contestant')" class="btn btn-primary"> Add To Team </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center" v-show="contestant_total">
                        <nav>
                            <ul class="pager">
                                <li v-bind:class="{ 'disabled': contestant_page == 1}" v-on:click="search_contestants(contestant_page - 1)" class="btn"><a>Previous</a></li>
                                <li>
                                    <strong> {{ contestant_page }}  / {{ contestant_pages }}</strong>
                                </li>
                                <li v-bind:class="{ 'disabled': contestant_page == contestant_pages}" @click="search_contestants(contestant_page + 1)" class="btn"><a>Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center" >
                <div class="form-group text-center">
                        <label for="inputTeamName">Search</label>
                        <div>
                            <input type="text" @click="similarTeams()"  v-model="teamName" class="form-control" id="inputTeamName" placeholder="The name of the Team">
                        </div>
                    </div>
                <table v-show="nb_members > 0" class="table table-striped table-bordered">
                    <caption> Members of the team  ({{nb_members}}) </caption>
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            
                            <th>
                                Remove
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="member in members">
                            <td>
                                {{member.name}}
                            </td>
                           
                            <td>
                                <button @click="deleteMember(member)" class="btn btn-danger"> Remove From Team </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button v-show="nb_members > 0" class="btn btn-success" @click="create_team"> Submit Team </button>
                <h3 v-else> No Members for the new team! </h3>
            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
    export default {
        props: [
            'memberSearch', 'members', 'contestants', 'team_total', 'teamName',
            'team_page', 'team_pages', 'contestant_total', 'contestant_page', 'contestant_pages'
        ],
        components: {

        },
        created: function() {
            this.memberSearch = '';
            this.teamName = "";
            this.page = 1;
            this.pages = 1;
            this.search_contestants(1);
            this.members = new Array();
        },

        computed: {
              nb_members: function(){
                  return this.members.length
              }
        },
        methods:{
            search: function(){
                this.search_contestants(1);
            },
            addMember: function(member) {
                var current_member = member;
				if(this.nb_members >= 5)
				{
					alertify.error("The number of members is limited to five!");
					return true;
				}
                if(this.nb_members > 0)
                {
                    function isNotCurrentMember(element, index, array) {
                            return current_member.id != element.id;
                    }
                    if(this.members.every(isNotCurrentMember))
                    {
                        this.members.push(current_member);
                    }
                    else
                    {
                        alertify.notify("Contestant already selected for team");
                    }
                }
                else
                {
                    this.members.push(member);
                }
            },
            deleteMember: function(member) {
                this.members.$remove(member);
            },
            search_contestants: function(page) {
                this.$http.post('/api/search/contestants', {term: this.memberSearch, page: page}).then(function(data) {
                    var received_data = data.data;
                    this.contestants = received_data.data;
                    this.contestant_total = received_data.total;
                    this.contestant_page = page;
                    this.contestant_pages = received_data.pages;
                }, function(error){
                    console.log(error)
                });
            },
            similarTeams: function()
            {
                if(this.teamName.length >=3)
                {
                    this.$http.post('/api/teams/similar',
                                    {
                                        api_token: window.apiToken,
                                        name: this.teamName
                                    }).then(function(data){
                                        var received_data =  data.data;
                                        console.log(received_data);

                                    },function(error){
                                        alertify.error("An error occured while looking for similar team names");
                                    })
                }
            },
            create_team: function()
            {
                if(this.teamName.length < 3)
                {
                    alertify.error("You need to specify a name for the Team");
                    return;
                }


                this.$http.post('/api/teams/create', {api_token: window.apiToken,
                    team :{members: this.members, name: this.teamName}}).then(function(data) {
                    console.log(data)
                    if(data.data.msg)
                    {
                        alertify.success(data.data.msg)
                        this.reset()
                    }
                }, function(error){
                    console.log(error)
                    if(error.data.msg)
                    {
                        alertify.error(error.data.msg)
                    }
                    else
                    {
                        alertify.error(error.data.errors)
                    }
                    this.reset()
                });
            },
            reset: function()
            {
              this.memberSearch = ""
              this.teamName = ""
              this.search()
              this.members = new Array()
            }
        }
    }
</script>
