<template>
    <div class="container-fluid">
        <form class="form-horizontal" v-show="show == 'true'">
            <div class="form-group text-center">
                <label for="inputBattle">Search</label>
                <div>
                    <input type="text" @keyup="search(1)" v-model="searchTerm" class="form-control" id="inputTeam" placeholder="Team or Contestant">
                </div>
            </div>
        </form>
        <table class="table table-striped table-bordered text-center table-responsive" v-show="total">
            <caption> Teams ({{total}}) </caption>
            <thead class="text-center">
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Name
                </th>
				<th>
          Contestants
				</th>
                <th>
                    Number of votes
                </th>
                <th>
                    Vote
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in list" :item="item" :index="$index">
                <td>
                    {{ ($index + 1)  + ((page - 1) * 10) }}
                </td>
                <td>
                  {{item.name}}
                </td>
                <td style="width: 50%">
					<ul class="list-unstyled">
                        <li v-for="c in item.contestants" :c="c" v-link="{ name: 'showContestant', params: {id: c.id} }">
                         <a>{{ c.name }}</a>
                        </li>

          </ul>
                </td>
                <td>
                    {{item.nb_votes}}
                </td>
                <td>
                    <button @click="vote(item.id)"  class="btn btn-primary" v-show="item.can_vote">
                        Vote for this Team
                    </button>
                    <span v-else>
                        You are not allowed to vote
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <h3 v-else> No result found! </h3>
        <div class="text-center" v-show="total">
            <nav>
                <ul class="pager">
                    <li v-bind:class="{ 'disabled': page == 1}" v-on:click="search(page - 1)" class="btn"><a>Previous</a></li>
                    <li>
                        <strong> {{ page }}  / {{ pages }}</strong>
                    </li>
                    <li v-bind:class="{ 'disabled': page == pages}" @click="search(page + 1)" class="btn"><a>Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['list', 'total', 'searchTerm', 'page', 'pages', 'show', 'subject'],

        created: function() {
            this.searchTerm = '';
            this.page = 1;
            this.pages = 1;
            this.searching = false;
            this.initialSearch(1);
        },
        methods: {
            search: function(page) {
                if(this.searchTerm.replace(/\s+/g, '').length >= 3)
                {
                    this.searching = true;
                    this.$http.post('/api/search/' + this.subject, {term: this.searchTerm, page: page, api_token: window.apiToken}).then(function(data) {
                        var received_data = data.data;
                        this.list = received_data.data;
                        this.total = received_data.total;
                        this.page = page;
                        this.pages = received_data.pages
                    }, function(error){console.log(error)});
                }
                else
                {
                    this.searching = false
                    this.initialSearch(page)
                }
            },

            initialSearch: function(page){
                this.$http.get('/api/' + this.subject + '/page/' + page, {api_token: window.apiToken}).then(function(data) {
                    var received_data = data.data;
                    this.list = received_data.data;
                    this.total = received_data.total;
                    if(this.total <= 10)
                    {
                        this.page = 1
                    }
                    else
                    {
                        this.page = page;
                    }
                    this.pages = received_data.pages;
                }, function(error){console.log(error)});
            },
            vote: function(id){
              this.$http.post('/api/vote/' + this.subject, {id: id, api_token: window.apiToken}).then(function(data) {
                  alertify.success("Vote Recorded");
                  this.initialSearch(1)
              }, function(error){console.log(error)});
            }
        },
        events: {
            'search': function (term) {
               this.searchTerm = term; this.search(1);
            }
        }
    }
</script>
