<template>
    <search show="true" subject="contestants"></search>
</template>
<script>
    var Search = require("./search.vue")

    export default {
        components: {
            Search
        }
    }
</script>