<template>
    <div class="text-center">
        <h3> Create a New Contestant </h3>
        <div class="container-fluid" >
            <div class="col-lg-3">
                <form class="form-horizontal">
                    <div class="form-group text-center">
                        <label for="inputContestantAdd">Search</label>
                        <div>
                            <input type="text" @keyup="search_con" v-model="parentSearch" class="form-control" id="inputContestantAdd" placeholder="New Contestant Name">
                        </div>
                    </div>
                </form>
                <button @click="create_contestant"> Add Contestant </button>
            </div>
            <div class="col-lg-7 col-lg-offset-1">
                <search show="false" subject="contestants"></search>
            </div>
        </div>
    </div>
</template>
<style>


</style>
<script>
    var Search = require("./search.vue")

    export default {
        props: ['parentSearch'],
        components: {
            Search
        },
        methods:{
            search_con: function(){
                this.$broadcast('search', this.parentSearch)
            },
            create_contestant: function(){
                this.$http.post('/api/contestants/create', {api_token: window.apiToken, contestant :{name: this.parentSearch}}).then(function(data) {
                    console.log(data)
                   if(data.data.msg)
                   {
                       alertify.success(data.data.msg)
                       this.search_con()
                       this.parentSearch = ''
                   }
                }, function(error){
                    console.log(error)
                    if(error.data.msg)
                    {
                        alertify.error(error.data.msg)
                    }
                    else
                    {
                        alertify.error(error.data.errors)
                    }

                });
            }
        }
    }
</script>