<template>
    <div class="container-fluid">
        <form class="form-horizontal" v-show="show == 'true'">
            <div class="form-group text-center">
                <label for="inputContestant">Filter</label>
                <div>
                    <input type="text" @keyup="search(1)" v-model="searchTerm" class="form-control" id="inputContestant" placeholder="Contestant, minimum 3 characters spaces not included">
                </div>
            </div>
        </form>
        <table class="table table-striped table-bordered" v-show="total">
            <caption> Contestants ({{total}}) </caption>
            <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Name
                </th>
                <th>
                    Number of teams
                </th>
                <th>
                    Number of battles
                </th>
                <th>
                    Number of votes
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in list" :item="item" :index="$index">
                <td>
                    {{ ($index + 1)  + ((page - 1) * 10) }}
                </td>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.nb_teams}}
                </td>
                <td>
                    {{item.nb_battles}}
                </td>
                <td>
                    {{item.nb_votes}}
                </td>
            </tr>
            </tbody>
        </table>
        <h3 v-else>No result found!</h3>
        <div class="text-center" v-show="total">
            <nav>
                <ul class="pager">
                    <li v-bind:class="{ 'disabled': page == 1}" v-on:click="search(page - 1)" class="btn"><a>Previous</a></li>
                    <li>
                        <strong> {{ page }}  / {{ pages }}</strong>
                    </li>
                    <li v-bind:class="{ 'disabled': page == pages}" @click="search(page + 1)" class="btn"><a>Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['list', 'total', 'searchTerm', 'page', 'pages', 'show'],

        created: function() {
            this.searchTerm = '';
            this.page = 1;
            this.pages = 1;
            this.searching = false;
            this.initialSearch(1);
        },
        methods: {
            search: function(page) {
                if(this.searchTerm.replace(/\s+/g, '').length >= 3)
                {
                    this.searching = true;
                    this.$http.post('/api/search/contestants', {term: this.searchTerm, page: page}).then(function(data) {
                        var received_data = data.data;
                        this.list = received_data.data;
                        this.total = received_data.total;
                        this.page = page;
                        this.pages = received_data.pages
                    }, function(error){console.log(error)});
                }
                else
                {
                    this.searching = false
                    this.initialSearch(page)
                }
            },

            initialSearch: function(page){
                this.$http.get('/api/contestants/page/' + page).then(function(data) {
                    var received_data = data.data;
                    this.list = received_data.data;
                    this.total = received_data.total;
                    if(this.total <= 10)
                    {
                        this.page = 1
                    }
                    else
                    {
                        this.page = page;
                    }
                    this.pages = received_data.pages;
                }, function(error){console.log(error)});
            }
        },
        events: {
            'search': function (term) {
               this.searchTerm = term; this.search(1);
            }
        }
    }
</script>