<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ERB Voting!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body id="app">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a v-link="{ path: '/' }" class="navbar-brand">ERB Voting</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li v-link="{ path: '/battles' }" class="btn">
                    <a>The Battles</a>
                </li>
                <li v-link="{ path: '/contestants'}" class="btn">
                    <a >The Contestants</a>
                </li>
                <li v-link="{ path: '/teams' }" class="btn">
                    <a>The Teams</a>
                </li>
                <li v-link="{ path: '/about' }" class="btn">
                    <a>About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%= if @current_user do %>
                <h5> Welcome, <%= link @current_user.name, to: profile_path(@conn, :index) %>!
                    <!-- <img src="<%= @current_user.image %>" class="img-circle"/>-->
                    <%= link "Logout", to: auth_path(@conn, :delete), method: :delete, class: "btn btn-sm btn-danger"
                    %></h5>
                <% else %>
                <li>
                    <a v-link="{ path: '/login' }">Log In / Register</a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid">
        <p class="alert alert-info alert-dismissible" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger alert-dismissible" role="alert"><%= get_flash(@conn, :error) %></p>

        <main role="main">
            <router-view
                    keep-alive>
            </router-view>
        </main>
    </div > <!-- /container -->
<script>window.userToken = "<%= assigns[:user_token] %>"</script>
<script>window.apiToken = "<%= assigns[:api_token] %>"</script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script src="<%= static_path(@conn, "/js/vue.js") %>"></script>
<script src="<%= static_path(@conn, "/js/vue-resource.js") %>"></script>
<script src="<%= static_path(@conn, "/js/vue-router.js") %>"></script>
<script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
<script src="<%= static_path(@conn, "/js/build.js") %>"></script>

    </body >
</html >
